.features {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #505050;
}


.featureItem {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 6vw;
  border: 1px solid #505050;
}

.containerWithBorder {
  border: 1px solid #505050;
}

[data-theme='dark'] {
  .featureItem {
    border: 1px solid #afafaf;
  }
  .features {
    border: 1px solid #afafaf;
  }
  .featureItem {
    border: 1px solid #afafaf;
  }
}
